body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

span {
    color: rgb(216, 82, 104);
}

section {
    display: flex;
    margin-bottom: 150px;


}

.half-section1,
.half-section2 {
    width: 50%;
    margin: 30px;
}

.half-section2 img {
    width: 70%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(210, 124, 210), palevioletred);
    width: 40px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    width: 40px;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big,
.img2 {
    width: 50%;
}

.kitty {
    width: 80%;
}

.resume {
    text-decoration: none;
    background-image: linear-gradient(rgb(225, 17, 117), rgb(170, 74, 211));
    width: 40px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    width: 40px;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}